.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	min-height: 100vh;
	background: rgb(41, 66, 105);
	background: linear-gradient(
		90deg,
		rgba(41, 66, 105, 1) 38%,
		rgba(0, 0, 0, 1) 100%,
		rgba(1, 36, 0, 1) 100%,
		rgba(1, 31, 1, 1) 100%,
		rgba(1, 13, 1, 1) 100%
	);
}
